@media (min-width: 1200px) {
  .container {
    max-width: 90vw;
    margin: 0 auto;
  }
}

.table {
  display: grid;
  grid-template-columns: repeat(4, calc(100vw / 4));
  grid-auto-rows: calc(100vw / 4);
}

@media (min-width: 576px) {
  .table {
    grid-template-columns: repeat(8, calc(100vw / 8));
    grid-auto-rows: calc(100vw / 8);
  }
}

@media (min-width: 768px) {
  .table {
    grid-template-columns: repeat(12, calc(100vw / 12));
    grid-auto-rows: calc(100vw / 12);
  }
}

@media (min-width: 992px) {
  .table {
    grid-template-columns: repeat(16, calc(100vw / 16));
    grid-auto-rows: calc(100vw / 16);
  }
}

@media (min-width: 1200px) {
  .table {
    grid-template-columns: repeat(18, calc(86.4vw / 18));
    grid-template-rows: repeat(10, calc(86.4vw / 18));
    grid-gap: 0.2vw;
  }
}

.element {
  padding: 4px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #000;
  color: #fff;
}

.name {
  font-size: 0.6rem;
}

.symbol {
  font-size: 1.2rem;
  font-weight: bold;
  align-self: center;
  text-transform: capitalize;
}

.footer {
  display: flex;
  justify-content: space-between;
}

.atomicMass {
  font-size: 0.6rem;
}

.number {
  font-size: 0.6rem;
}

@media (min-width: 1200px) {
  /* Helium */

  [data-element="2"] {
    grid-column-start: 18;
  }

  /* Boron */

  [data-element="5"] {
    grid-column-start: 13;
  }

  /* Aluminium */

  [data-element="13"] {
    grid-column-start: 13;
  }

  /* Lanthanoids */

  [data-element="57"] {
    grid-column-start: 3;
    grid-row-start: 9;
  }

  [data-element="58"] {
    grid-column-start: 4;
    grid-row-start: 9;
  }

  [data-element="59"] {
    grid-column-start: 5;
    grid-row-start: 9;
  }

  [data-element="60"] {
    grid-column-start: 6;
    grid-row-start: 9;
  }

  [data-element="61"] {
    grid-column-start: 7;
    grid-row-start: 9;
  }

  [data-element="62"] {
    grid-column-start: 8;
    grid-row-start: 9;
  }

  [data-element="63"] {
    grid-column-start: 9;
    grid-row-start: 9;
  }

  [data-element="64"] {
    grid-column-start: 10;
    grid-row-start: 9;
  }

  [data-element="65"] {
    grid-column-start: 11;
    grid-row-start: 9;
  }

  [data-element="66"] {
    grid-column-start: 12;
    grid-row-start: 9;
  }

  [data-element="67"] {
    grid-column-start: 13;
    grid-row-start: 9;
  }

  [data-element="68"] {
    grid-column-start: 14;
    grid-row-start: 9;
  }

  [data-element="69"] {
    grid-column-start: 15;
    grid-row-start: 9;
  }

  [data-element="70"] {
    grid-column-start: 16;
    grid-row-start: 9;
  }

  [data-element="71"] {
    grid-column-start: 17;
    grid-row-start: 9;
  }

  /* Actinides */

  [data-element="89"] {
    grid-column-start: 3;
    grid-row-start: 10;
  }

  [data-element="90"] {
    grid-column-start: 4;
    grid-row-start: 10;
  }

  [data-element="91"] {
    grid-column-start: 5;
    grid-row-start: 10;
  }

  [data-element="92"] {
    grid-column-start: 6;
    grid-row-start: 10;
  }

  [data-element="93"] {
    grid-column-start: 7;
    grid-row-start: 10;
  }

  [data-element="94"] {
    grid-column-start: 8;
    grid-row-start: 10;
  }

  [data-element="95"] {
    grid-column-start: 9;
    grid-row-start: 10;
  }

  [data-element="96"] {
    grid-column-start: 10;
    grid-row-start: 10;
  }

  [data-element="97"] {
    grid-column-start: 11;
    grid-row-start: 10;
  }

  [data-element="98"] {
    grid-column-start: 12;
    grid-row-start: 10;
  }

  [data-element="99"] {
    grid-column-start: 13;
    grid-row-start: 10;
  }

  [data-element="100"] {
    grid-column-start: 14;
    grid-row-start: 10;
  }

  [data-element="101"] {
    grid-column-start: 15;
    grid-row-start: 10;
  }

  [data-element="102"] {
    grid-column-start: 16;
    grid-row-start: 10;
  }

  [data-element="103"] {
    grid-column-start: 17;
    grid-row-start: 10;
  }
}

.lanthanoids {
  display: none;
  background-color: #dc4f95;
  color: #fff;
  font-size: 0.6rem;
  padding: 4px;
  text-transform: uppercase;
  word-break: break-all;
}

.actinides {
  display: none;
  background-color: #dcc2cc;
  color: #fff;
  font-size: 0.6rem;
  padding: 4px;
  text-transform: uppercase;
  word-break: break-all;
}

@media (min-width: 1200px) {
  .lanthanoids,
  .actinides {
    display: flex;
    align-items: center;
    justify-content: center;
    height: calc(86.4vw / 18);
    width: calc(86.4vw / 18);
  }
  .lanthanoids {
    grid-column-start: 3;
    grid-row-start: 6;
  }
  .actinides {
    grid-column-start: 3;
    grid-row-start: 7;
  }
}

.halogenCategory {
  background-color: #f9dcba;
}

.nobleGasCategory {
  background-color: #db3742;
}

.alkaliMetalCategory {
  background-color: #439760;
}

.alkalineEarthMetalCategory {
  background-color: #2565ab;
}

.metalloidCategory {
  background-color: #56bccd;
}

.otherNonmetalCategory {
  background-color: #c9ddaa;
}

.postTransitionMetalCategory {
  background-color: #f8cb46;
}
.lanthanideCategory {
  background-color: #dc4f95;
}

.actinidesCategory {
  background-color: #dcc2cc;
}

.transitionMetalCategory {
  background-color: #4c348d;
}

.unknownCategory {
  background-color: #aecb59;
}
